<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
 <div class="jumbotron">

  <form action="controller/make_cat.php" method="POST" >
  
  <div class="form-group">
    <label for="exampleInputEmail1">Digite o nome da categoria </label>
    <input type="text" class="form-control"  placeholder="Digite aqui o nome " name="cat_name" required>
  </div>

     
   
   <button type="submit" class="btn btn-info">
     <i class="glyphicon glyphicon-plus"></i>
     Adicionar Categoria
   </button>

</form>
</div>

</body>
</html>